{{#each message}}
<div class="row" style="padding-bottom:1.5rem"><div class="col-md-12 equel-grid"><small>{{{text}}}</small></div></div>
{{/each}}

{{#if irrelevant_card2}}
<div class="row" style="padding-bottom:1.5rem"><div class="col-md-12 equel-grid"><small>Sorry, there are results with low relevancy only:</small></div></div>
{{/if}}

{{#each publication}}
<div class="row {{#if inlineStyle}}lowRelevancy{{/if}}" {{{inlineStyle}}}>
    <div class="col-md-12 equel-grid">
        <div class="grid">
            <div class="grid-body search-result">
                <div class="vertical-timeline-wrapper">
                    <div class="timeline-vertical dashboard-timeline">
                        <div class="row activity-log">
                            <div class="col-12 col-md-9"><a href="{{{link}}}"><p class="log-name mathjax">{{{title}}}</p></a><div class="log-details mathjax">{{{abstract}}}</div></div>
                            <div class="col-12 col-md-3"><small class="log-time">{{{date}}}<br/>{{{relevancy}}}<br/>{{server}}</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{#if irrelevant_card1}}
<script>
    function showLowRelevancy() { 
        let items = document.getElementsByClassName('lowRelevancy');
        for (let i=0; i < items.length; i++) {
            items[i].style.display = "block";
        }
        document.getElementById("sample-data-table_paginate").style.display = "block";
        document.getElementById("lowRelevancyCard").style.display = "none";
    }
</script>
<div class="row" id="lowRelevancyCard"><div class="col-md-12 equel-grid"><div class="grid nounderline"><a href="javascript:showLowRelevancy()"><div class="grid-body"><div style="font-size: 14px; color:#818282; padding:1rem">
    Results with low relevancy were hidden. If you want to explore them, click here.
</div></div></a></div></div></div>
{{/if}}

{{#if pagination}}
<div class="dataTables_paginate paging_simple_numbers" id="sample-data-table_paginate" {{#if irrelevant_card1}}style="display:none"{{/if}}><ul class="pagination HORIZONTAL_SCROLL_NAV"><li class="paginate_button page-item previous {{pagination_prev_activity}}" id="sample-data-table_previous"><a href="{{{pagination_prev_link}}}" class="page-link">Previous</a></li>
{{#each pagination}}
<li class="paginate_button page-item {{activity}}"><a href="{{{link}}}" class="page-link">{{number}}</a></li>
{{/each}}
<li class="paginate_button page-item next {{pagination_next_activity}}" id="sample-data-table_next"><a href="{{{pagination_next_link}}}" class="page-link">Next</a></li></ul></div>
{{/if}}